.app {
  display: flex;
  flex-direction: column;
  & header {
    background-color: #8DC562;
    display: flex;
    flex-direction: row;
    align-items: center;

    & img {
      height: 36px;
      padding-left: 5px;
    }
    & .title {
      flex: 1 100%;
      font-size: bold;
      color: white;
    }
  }

  & .todo { 
    justify-content: center;
    display: flex;
    padding: 20px 20px;
  }
}